<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<div class="container">
  <div class="row">
  <% @posts.each do |post| %>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text"><%= truncate(post.content,:length => 80) %></p>
          <%= link_to 'Show', post %>
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
      </div>
    <% end %>
    <br>
  </div>
</div>

<%= link_to 'New Post', new_post_path %>
